<div class="container mt-5">
    <h2 class="text-center mb-4" style="font-family: Arial, sans-serif; color: #333;">Registro de Fabricante</h2>
    <form #fabricanteForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre del fabricante"
                [(ngModel)]="fabricante.nombre" #nombre="ngModel" required>
            <div *ngIf="nombre.invalid && nombre.touched" class="text-danger">
                El nombre es requerido.
            </div>
        </div>
        <div class="mb-3">
            <label for="direccion" class="form-label">Dirección</label>
            <input type="text" class="form-control" id="direccion" name="direccion"
                placeholder="Dirección del fabricante" [(ngModel)]="fabricante.direccion" #direccion="ngModel" required>
            <div *ngIf="direccion.invalid && direccion.touched" class="text-danger">
                La dirección es requerida.
            </div>
        </div>
        <div class="mb-3">
            <label for="telefono" class="form-label">Teléfono</label>
            <input type="tel" class="form-control" id="telefono" name="telefono" placeholder="Teléfono del fabricante"
                [(ngModel)]="fabricante.telefono" #telefono="ngModel" required>
            <div *ngIf="telefono.invalid && telefono.touched" class="text-danger">
                El teléfono es requerido.
            </div>
        </div>
        <div class="d-flex justify-content-between">
            <button type="submit" class="btn btn-primary w-45" >Registrar</button>
            <button type="reset" class="btn btn-warning w-45">Borrar</button>
        </div>
        <button routerLink="/fabricantes" class="btn btn-secondary mt-3 w-100">Volver</button>
    </form>
</div>