li a {
    font-size: 20px;
    margin-left: 20px;
}

img {
    margin-left: 0px;
}

a:hover {
    color: #ff0000;
    text-decoration: none;
    transform: scale(1.05);
    transition: transform 0.5s;
}