<ng-container *ngIf="productos.length === 0; else siProductos">
    <div class="container" #noProductos>
        <h4 class="alert">No hay productos registrados</h4>
    </div>
</ng-container>

<ng-template #siProductos>
    <div class="container">
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/registrar-producto">Agregar Producto</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Generar PDF</a>
        </li>
    </ul>
    </div>
    
    <div class="container">
        <h3 style="text-align: center;">Lista de productos</h3>
        <table class="table table-borderless table-striped align-middle">
            <thead class="table-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Stock</th>
                    <th scope="col">Fabricante</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let producto of productos"><!-- Uso la directiva ngFor para iterar la tabla -->
                    <th scope="row">{{producto.id_producto}}</th>
                    <td>{{producto.nombre}}</td>
                    <td>{{producto.descripcion}}</td>
                    <td>{{producto.precio}}</td>
                    <td>{{producto.existencia}}</td>
                    <td>{{producto.fabricante.nombre}}</td>
                    <td>
                        <button type="button" class="btn btn-primary">Editar</button>
                        <button type="button" class="btn btn-danger">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</ng-template>