<div class="container">
<ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" routerLink="/registrar-producto">Agregar Producto</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Generar PDF</a>
    </li>
</ul>
</div>
<ng-container *ngIf="productos.length === 0; else siProductos">
    <div class="container" #noProductos>
        <h4 class="alert">No hay productos registrados</h4>
    </div>
</ng-container>

<ng-template #siProductos>
    
    <div class="container">
        <h3 style="text-align: center;">Lista de Productos</h3>
        <div class="form-group mb-3">
            <input type="text" matInput placeholder="Buscar" (input)="applyFilter($event)" class="form-control">
        </div>
        <div class="table-responsive">
            <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 table table-borderless table-striped align-middle">
                <ng-container matColumnDef="nombre">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
                    <td mat-cell *matCellDef="let row">{{ row.nombre }}</td>
                </ng-container>
                <ng-container matColumnDef="descripcion">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Descripción</th>
                    <td mat-cell *matCellDef="let row">{{ row.descripcion }}</td>
                </ng-container>
                <ng-container matColumnDef="precio">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Precio</th>
                    <td mat-cell *matCellDef="let row">{{ row.precio }} $</td>
                </ng-container>
                <ng-container matColumnDef="acciones">
                    <th mat-header-cell *matHeaderCellDef>Acciones</th>
                    <td mat-cell *matCellDef="let row">
                        <button type="button" class="btn btn-primary me-2 mt-1" (click)="editarProducto(row.id_producto)">Editar</button>
                        <button type="button" class="btn btn-danger" (click)="openConfirmModal(row)">Eliminar</button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;">
            </table>
        </div>
        <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[10, 20, 50]"></mat-paginator>
    </div>


        <!-- Modal de Confirmación -->
        <div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmar Borrado</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <strong>Este articulo se encuentra en algun almacen</strong> <br>
                        Se eliminara de todos los almacenes que tengan existencias de este producto <br>
                        ¿Estás seguro de que deseas eliminar el articulo {{ selectedProducto?.nombre }}?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                            (click)="cancelDelete()">Cancelar</button>
                        <button type="button" class="btn btn-danger" (click)="confirmDelete()">Eliminar</button>
                    </div>
                </div>
            </div>
        </div>
</ng-template>