<!--Usamos el concepto "Two-Way Data Binding" (Vinculación de datos bidireccional), el cual sincroniza el modelo y la vista, usando el ngModel-->
<div class="container">
    <h2 style="font-family: Arial, sans-serif;">Registro de Producto</h2>
    <form (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre del producto"
                [(ngModel)]="producto.nombre" required>
        </div>
        <div class="mb-3">
            <label for="descripcion" class="form-label">Descripción</label>
            <textarea class="form-control" id="descripcion" rows="3" name="descripcion"
                placeholder="Descripción del producto" [(ngModel)]="producto.descripcion"></textarea>
        </div>
        <div class="mb-3">
            <label for="precio" class="form-label">Precio</label>
            <input type="number" class="form-control" id="precio" name="precio" placeholder="Precio del producto"
                [(ngModel)]="producto.precio" required>
        </div>
        <div class="mb-3">
            <label for="fabricante" class="form-label">Fabricante</label>
            <input type="text" [(ngModel)]="terminoBusqueda" (ngModelChange)="filtrarFabricantes()" placeholder="Buscar fabricante">
            <select class="form-select" id="fabricante" name="fabricante" [(ngModel)]="producto.fabricante">
                <option *ngFor="let fabricante of filtrarFabricantes()" [ngValue]="fabricante" required>
                    {{ fabricante.nombre }}
                </option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary me-5">Registrar</button>
        <button type="reset" class="btn btn-warning">Borrar</button>
    </form>
</div>